<form action="/course/add" method="post">
<p>
<label> Course Name </label> <input value="" name="courseName" /><br>
<p>
<label> Course Duration </label> <input value="" name="courseDuration" /><br>
<p>
<label> Course Fee </label> <input value="" name="courseFee" /><br>
<p>
<button type="Submit">Add Course</button>
</p>
</form>